.contenttitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
    color: #888888;
    font-size: 250%;
  }

.boxes {
    max-width: 1140px;
    margin: auto;
  }

  .charts{
    max-width: 1140px;
    height: 100vh;
  }

  .boxes .row{
    max-width: 1140px; 
    margin: auto
  }

  .category {
    letter-spacing: 2px;
    text-align: left;
    color: #888888;
    font-size: 130%;
  }

  .boximg {
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -moz-transition: all 0.5s; /* Firefox*/
    -ms-transition: all 0.5s; /* Internet Explorer */
    -o-transition: all 0.5s; /* Opera */
  }

  .boximg:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .boximg p {
    position: relative;
    text-align: center;
    top: 50px;
    opacity: 0;
    transition: 0.5s;
    font-size: 100%;
    color: #8b8b8b;
  }
  .boximg:hover p {
    transform: translateY(-35px);
    opacity: 1;
  }

  span{
    font-size: 60%;
    color: #acacac
  }