ul{
    list-style: none;
    padding: 0;
  }
  .gridlayout {
      display: grid;
      grid-template-columns: 1.5fr 5fr 1.5fr;
      grid-template-rows: auto auto;
    }
    .banner {
      display: flex;
      height: 60vh;
      overflow: hidden;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(216, 216, 216, 0.24)
      );
    }
    .bannerimg {
      text-align: center;
      align-content: center;
      margin: auto;
    }
    .bannerimg img{
      max-width: 950px;
    }
    .infobox {
      width: 10%;
      grid-column: 2/3;
      grid-row: 1/2;
      display: block;
      position: fixed;
      bottom: 5%;
      left: 3%;
    }
    .infobox ul {
      display: block;
    }
    .nav-pills a{
      font-size: 100%;
      color: #acacac;
      letter-spacing: 1px;
      text-align: left;
      line-height: 35px;
      text-decoration: none;
    }
    .nav-pills a:hover {
      font-size: 100%;
      color: #8b8b8b;
      letter-spacing: 1px;
      text-align: left;
      line-height: 35px;
      text-decoration: none;
    }
    #return{
        background-image: url('../public/resources/return-h.png');
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    #return:hover{
        background-image: url('../public/resources/return.png');
        width: 30px;
    }
    #return{
      width: 30px;
    }
    .majorcontent{
      max-width: 900px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .content {
      display: block;
      text-align: center;
    }
    .introduction {
      font-size: 100%;
      color: #8b8b8b;
      letter-spacing: 1px;
      margin-top: 70px;
      text-align: left;
    }
    .title {
      font-size: 200%;
      color: #8b8b8b;
      margin-top: 120px;
      letter-spacing: 1px;
      text-align: center;
    }
    .title:after {
      display: block;
      height: 2px;
      background-color: #bebebe;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
    }
    .category {
      letter-spacing: 1px;
  
      color: #888888;
      font-size: 150%;
    }
    .gradient {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(216, 216, 216, 0.24)
      );
      margin: auto;
      /* text-align: center; */
    }
    
    .boxes {
      max-width: 1140px;
      margin: auto;
    }
    .boximg {
      transition: all 0.5s;
      -webkit-transition: all 0.5s; /* Safari 和 Chrome */
      -moz-transition: all 0.5s; /* Firefox*/
      -ms-transition: all 0.5s; /* Internet Explorer */
      -o-transition: all 0.5s; /* Opera */
    }
    .boximg:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    .boximg p {
      position: relative;
      text-align: center;
      top: 50px;
      opacity: 0;
      transition: 0.5s;
      font-size: 100%;
      color: #acacac;
    }
    .boximg:hover p {
      transform: translateY(-35px);
      opacity: 1;
    }
    .circle {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: #8b8b8b;
      display: block;
      float: none;
      margin: 6px;
    }
    .btnstyle {
      border: 2px solid #888888;
      height: 50px;
      width: 100px;
      border-radius: 1em;
      letter-spacing: 2px;
      font-size: 100%;
      background-color: transparent;
      color: #888888;
    }
    .btnstyle:hover {
      border: 2px solid #888888;
      height: 50px;
      width: 100px;
      border-radius: 1em;
      letter-spacing: 2px;
      font-size: 100%;
      background-color: #ddddddb6;
      color: #4b4b4b;
    }
    li.active a {
      color: #4b4b4b;
    }
    li.active a:hover {
      color: #4b4b4b;
    }
    .footer {
      display: flex;
      align-content: center;
      justify-content: flex-start;
      padding: 15px;
      height: 8vh;
      border-top: 1px solid #acacac;
    }